.cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 20px 17px;
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 568px) {
  .cards__container {
    grid-gap: 20.5px;
  }
}