.header {
  display: flex;
  align-items: flex-start;
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 678px) {
  .header {
    min-height: 56px;
    margin-bottom: 31.6px;
    padding-top: 28px;
  }
}
