.card__info {
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: space-between;
  /* min-width: 25px; */
  /* flex-flow: row; */
  /* text-align: center; */
  max-width: 262px;
  min-height: 70px;
}

@media screen and (max-width: 568px) {
  .card__info {
    min-height: 72px;
  }
}