.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 262px;
  min-height: 70px;
}

@media screen and (max-width: 568px) {
  .card__info {
    min-height: 72px;
  }
}