.popup__input-descr {
  width: 100%;
  margin: 0px 0 49px;
  padding: 0 0 8px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@media screen and (max-width: 568px) {
  .popup__input-descr {
    margin-bottom: 45px;
  }
}
